$background: rgba(255, 255, 255, 1);
$borders: rgba(230, 235, 240, 1);
$borders-secondary: rgba(212, 215, 255, 1);

$typography-primary: rgba(3, 9, 41, 1);
$typography-secondary: rgba(104, 113, 150, 1);