@import "src/assets/scss/colors";

nav {
    height: 50px;
    background-color: $background;
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    line-height: 34px;
}