:host {
    display: flex;
}

.menu-container {
    position: relative;
    display: inline-block;
}

.menu-trigger {
    background: rgba(241, 243, 248, 1);
    border: none;
    padding: 4px; /* Hit area */
    cursor: pointer;
    display: flex;
    gap: 2px;

    width: 24px;
    height: 22px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;

    &:hover {
        background-color: rgba(216, 220, 235, 1);
    }
}

.dot {
    width: 3px;
    height: 3px;
    background-color: #666;
    border-radius: 50%;
}

.menu-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 4px;
    z-index: 100;
    overflow: hidden;
    padding: 12px;
    width: 200px;
    height: 80px;
    box-shadow:
        rgba(104, 113, 150, 0.1) 0 0 0 1px,
        rgba(200, 207, 233, 1) 0 2.5px 3px -1.5px,
        rgba(216, 220, 235, 1) 0 4.5px 5px -1px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
}

.menu-item {
    padding: 5px 0;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;

    &.delete span {
        color: rgba(62, 64, 219, 1);
    }
}
