<!-- @Upgrade here although the component is functional, it has nothing to do with the original from the example, 
 this would be my second point of improvement -->

<div class="timescale-selector">
    <button
        [class.active]="currentScale() === timescaleEnum.DAY"
        (click)="setScale(timescaleEnum.DAY)">
        Day
    </button>

    <button
        [class.active]="currentScale() === timescaleEnum.WEEK"
        (click)="setScale(timescaleEnum.WEEK)">
        Week
    </button>

    <button
        [class.active]="currentScale() === timescaleEnum.MONTH"
        (click)="setScale(timescaleEnum.MONTH)">
        Month
    </button>
</div>
