@import "src/assets/scss/colors";

.header {
    padding: 16px 24px;
    border-bottom: 1px solid $borders-primary;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .titles {
        h2 {
            margin: 0;
            font-size: 20px;
            font-weight: 600;
            line-height: 25px;
            margin-bottom: 5px;
            color: $typography-primary;
        }

        p {
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            color: $typography-secondary;
        }
    }

    .actions {
        display: flex;
        gap: 8px;
        align-items: center;
        height: 100%;

        button {
            height: 32px;
            padding: 6.5px 8px;
            border-radius: 7px;
            font-size: 15px;
            font-weight: 400;
            cursor: pointer;
            border: 0;
            transition: all 0.2s;
            display: flex;
            align-items: center;
        }

        .btn-cancel {
            box-shadow:
                rgba(255, 255, 255, 1) 0 0 0 1px,
                rgba(200, 207, 233, 1) 0 1px 3px 0;
            background: rgba(255, 255, 255, 1);

            &:hover {
                background: #f5f5f5;
            }
        }

        .btn-primary {
            box-shadow:
                rgba(86, 89, 255, 1) 0 0 0 1px,
                rgba(200, 207, 233, 1) 0 1px 3px 0;
            background-color: rgba(86, 89, 255, 1);
            color: #fff;

            &:hover {
                opacity: 0.9;
            }
        }
    }
}

.form-content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;

    label {
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        color: $typography-secondary;
    }

    input {
        padding: 10px 12px;
        border: 1px solid $borders-primary;
        font-size: 14px;
        color: $typography-primary;
        height: 38px;
        box-shadow:
            rgba(216, 220, 235, 1) 0 0 0 1px,
            rgba(200, 207, 233, 1) 0 1.5px 3px -1.5px,
            rgba(216, 220, 235, 1) 0 1px 0.5px -1px;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 1);

        &:focus {
            outline: none;
            box-shadow: rgba(170, 175, 255, 1) 0 0 0 2px;
        }
    }
}
